<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="/funciones/compra.js"></script>
    <link rel="stylesheet" href="/estilos/compra.css">
    <title>Compra</title>
</head>
<body>
    <a href="/index.html">←</a>
    <div id="cajas">
    <p id="iteams"></p>
    <input id="objeto" placeholder="objeto a comprar">
    <input id="cantidad" placeholder="cantidad">
    <button id="comprar">comprar</button>
    <p id="alerta">
    </p>
</div>
</body>
</html>