<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="/funciones/register.js"></script>
    <link rel="stylesheet" href="/estilos/register.css">
    <title>Registrarte</title>
</head>
<body>
    <a href="/index.html">←</a>
    <h1 id="titulo">
        Supermercado Carlito 😍
    </h1>

    <div id="contenedorPadre">
        <h2 id="TituloLogin">Registrarte</h2>
        <div id="contenedorHijo"> 
            <input placeholder="nombre de usuario" id="inputName" type="text">
            <input placeholder="contraseña" id="inputPassword" type="password">
            <p id="textoAlerta"></p>
            <button id="buttonRegister">Registrarte</button>
        </div>
    </div>

</body>
</html>