/*
etiqueta se la llama por su nombre
clases con el .nombre de la clase
id #nombre_del_id
*/
body{
    padding: 20px;
    background-color: darkgray;

}
#titulo{
    text-align: -webkit-center;
}
#cajas{
    text-align: -webkit-center;
    border: inset;
    height: 450px;
    padding: 2%;
    background-color:cornsilk;
}
#buttons{
    padding: 20px;
}
.button{
    width: 20%;
    border: 10px;
    padding: 10px;
    margin-left: 5%;
}
.la{
    width: 30%;
}
#miniText{
    background-color: aliceblue;
}