body{
    padding: 20px;
    background-color: darkgray;

}
#titulo{
    text-align: -webkit-center;
}
#cajas{
    text-align: -webkit-center;
    border: inset;
    height: 450px;
    background-color:cornsilk
}
#buttons{
    padding: 20px;
}
